<%= render :layout => 'partials/dashboard' do %>
  <h1>Transactions</h1>
  <table id="transactions" class="datatable">
    <thead>
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Amount</td>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= link_to transaction.id, dash_transaction_path(transaction.id) %></td>
          <td><%= transaction.plan.name %></td>
          <td><%= transaction.plan.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>