.flash {
  p {
    padding: 20px;
    border-radius: 5px;
    .pull-right {
      float: right;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.notice {
  background: $lightGreen;
}

.error {
  background: $lightRed;
}