@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

p {
	font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $blueShadow;
}

h3 {
  font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	color: $blueShadow;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $blueShadow;
  }
}