// Colors
$blue: #3498db;
$blueDropShadow: #2C8AC9;
$white: #f5f5f5;
$hoverWhite: #D6D6D6;
$text: #383838;
$whiteShadow: #053F66;
$sidebarActive: #126BA6;
$sidebarHover: #0A4D7A;
$lightGreen: #6CBD7D;
$lightGreenDropShadow: #59AB6A;
