@mixin button() {
  box-sizing:border-box;
  display: inline-block;
  text-align:center;
  padding: 16px;
  background: $lightGreen;
  border: 1px solid darken($lightGreen, 20%);
  border-radius: 5px;
  font-size: 1em;
  color: $white;
  cursor: pointer;
  @include transition(background 0.1s ease-in-out);
  &:hover {
    background: $lightGreenShadow;
    color: $white;
  }
}

@mixin button-block() {
  @include button();
  display: block;
  width: 100%;
}
