<% if notice %>
	<div class="flash_notice">
		<p class="notice"><%= notice %> <span class="pull-right"><i class="ion-close-circled dismiss-notice"></i></span></p>
	</div>
<% end %>

<% if alert %>
	<div class="flash_alert">
		<p class="notice"><%= alert %><span class="pull-right"><i class="ion-close-circled dismiss-notice"></i></span></p>
	</div>
<% end %>
