<%= render :layout => 'partials/dashboard' do %>
	<h1>Stripe connect</h1>
	<iframe src="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3nTTr9BZCUGQ9Cx4llmdACJ3NR8XKjt3&scope=read_write"></iframe>
<% end %>