<%= render :layout => 'partials/dashboard' do %>
  <h1>Home</h1>
  <div class="grid">
    <% unless @stripe_user %>
      <%= grid_item 'Connect Stripe', 'https://connect.stripe.com/oauth/authorize?response_type=code&client_id=' + STRIPE_CONFIG['client_id'] + '&scope=read_write', 'ion-log-in' %>
    <% end %>
    <%= grid_item 'Add a Plan', new_dash_plan_path, 'ion-android-add', 'complete' %>
  </div>
<% end %>