<%= render :layout => 'partials/dashboard' do %>
	<h1>Home</h1>
	<div class="grid">
		<% if ! @stripe_user %>
			<div class="grid-item">
				<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3nTTr9BZCUGQ9Cx4llmdACJ3NR8XKjt3&scope=read_write">
					<div class="icon-button">
						<i class="ion-log-in"></i>
						<p>Connect Stripe</p>
					</div>
				</a>
			</div>
		<% end %>
		<div class="grid-item">
			<a href="<%= dash_plans_path %>">
				<div class="icon-button complete">
					<i class="ion-android-add"></i>
					<p>Add a plan</p>
				</div>
			</a>
		</div>
	</div>
<% end %>