form {
  @include display(flex);
  @include flex-direction(column);
  .form-field {
    width: 100%;
    input {
      &.prompt {
        @include input-image("prompt.png");
      }
      &.money {
        @include input-image("money.png");
      }
    }
    .right-aligned {
      text-align: right;
      padding-right: 35px;
    }
  }
  .flex {
    @include display(flex);
    @include flex-direction(row);
  }
  .margin-right {
    margin-right: 10px;
  }
  .margin-left {
    margin-left: 10px;
  }

  .submit {
    margin-top: 15px;
  }
  // Buttons
  .submit-button {
    @include button-block();
  }
}

.small-form {
  max-width: 550px;
  margin: 0 auto;
}