  .grid {
    @include display(flex);
    .grid-item {
      @include flex(1);
      width: 50%;
      margin: 5px;
      .icon-button {
        border-radius: 5px;
        text-align: center;
        color: $white;
        background: $blue;
        box-shadow: 0 0 2px $blueShadow;
        margin: auto;
        padding: 25px 0px;
        @include transition(all 0.1s ease-in-out);
        i {
          font-size: 4em;
        }
        &:hover {
          background: $blueShadow;
        }
      }
      .complete {
        background: $lightGreen;  
        box-shadow: 0 0 2px $lightGreenShadow;
        &:hover {
          background: $lightGreenShadow;
        }
      }
    }
  }