input {
  box-sizing:border-box;
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid $grey;
  font-size: 1em;
  margin: 7px 0;
  &:focus {
    outline-width: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
}
select {
  box-sizing:border-box;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 16px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid $grey;
  font-size: 1em;
  margin: 7px 0;
  background: url("/assets/icons/down-arrow.png") no-repeat;
  background-position: right 17px center;
  background-size: 24px;
  background-color: white;
}
select::-ms-expand {
  display: none;
}