body {
	background: $blue;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 20px;
}	

.hide {
	display: none;
}