a {
	text-decoration: none;
	color: $white;
	&:hover {
		color: $hoverWhite;
	}
}

body {
	background: #3498db;
	color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 20px;
}	

.hide {
	visibility: hidden;
}